[alias]
        pr = pull --rebase
        lga = log --decorate --graph --all --pretty=format:'%Cred%<(15)%an%Creset %Cgreen%<(17)(%ar): %Creset%C(yellow)%h:%Creset%C(auto)%d%Creset %s'
[core]
	editor = vim
[user]
	name = Guillaume Marques
	email = marques.guillaume@hotmail.fr
[sendemail]
	smtpUser = marques.guillaume@hotmail.fr
	smtpServer = outlook.com
	smtpServerPort = 587
	smtpEncryption = tls
	suppresscc = self
[rerere]
	enabled = true
