[alias]
	pr = pull --rebase
	lga = log --decorate --graph --all --pretty=format:'%Cred%<(15)%an%Creset %Cgreen%<(17)(%ar): %Creset%C(yellow)%h:%Creset%C(auto)%d%Creset %s'
	touched = diff-tree --no-commit-id --name-only -r HEAD
	amend = commit --amend
	lease = push --force-with-lease
	dump-intel = "!git log --pretty=format:"%h%x09%an%x09%cd%x09%s" --reverse $1..HEAD > foo.csv"
	diff-intel = "!git log --pretty=format:"%=>%h%x09%an%x09%cd%x09%s" --reverse -p $1..HEAD"
[core]
	editor = vim
[user]
	name = Guillaume Marques
	email = guillaume_marques@apple.com
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
	recurseSubmodules = on-demand
[diff]
	submodule = log
[status]
	submoduleSummary = true
